
.carousel-item img {
  height: 100vh;
  width: 100%;
   object-fit: contain; /*hadi bach katban l'image kamla */
   object-fit: cover; 
  background-color: black; 
}

    .carousel-caption {
      bottom: 50%;
      transform: translateY(50%);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .carousel-caption h2,
    .carousel-caption h3 {
      font-weight: bold;
    }
.fdiv{
    text-align: center;
    margin: auto;
}